In [1]:
import os
os.listdir("speedbumppassing")

['2023-12-0508.35.33.csv',
 '2023-12-0508.36.31.csv',
 '2023-12-0508.36.53.csv',
 '2023-12-0508.37.43.csv',
 '2023-12-0612.11.52.csv',
 '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
 '2023-12-0612.13.48.csv',
 '2023-12-1208.28.16.csv']

In [2]:
test_speed_bump = ['2023-12-0508.35.33.csv',
 '2023-12-0508.36.31.csv',
 '2023-12-0508.36.53.csv',
 '2023-12-0508.37.43.csv',]

import pandas as pd
testspeedbump_df = pd.DataFrame()

# Loop through each file in the list
for file in test_speed_bump:
    # Assuming the files are in CSV format, you can adjust accordingly for other formats
    current_df = pd.read_csv("speedbumppassing/"+file)
    # Concatenate the current DataFrame with the combined DataFrame
    testspeedbump_df = pd.concat([testspeedbump_df, current_df], ignore_index=True)

# Display or use the combined DataFrame
testspeedbump_df

            time    ax    ay    az    wx    wy    wz  Unnamed: 7
0       0.003540 -0.09  0.35  0.30 -0.00 -0.01 -0.01         NaN
1       0.004135  0.08 -0.52  0.04 -0.00 -0.01 -0.01         NaN
2       0.004590  0.08 -0.52  0.04  0.00 -0.02 -0.01         NaN
3       0.005373  0.08 -0.52  0.04  0.00 -0.02 -0.01         NaN
4       0.006082  0.08 -0.52  0.04  0.01 -0.06 -0.02         NaN
...          ...   ...   ...   ...   ...   ...   ...         ...
31759  20.296979 -1.72  0.85 -1.17 -0.09  0.09  0.03         NaN
31760  20.298297 -1.72  0.85 -1.17 -0.13  0.18  0.04         NaN
31761  20.298678 -1.72  0.85 -1.17 -0.13  0.18  0.04         NaN
31762  20.301895 -1.72  0.85 -1.17 -0.16  0.27  0.05         NaN
31763  20.302411 -1.05  0.35 -2.51 -0.16  0.27  0.05         NaN

[31764 rows x 8 columns]

In [3]:
speedbumplist = ['2023-12-0508.35.33.csv',
 '2023-12-0508.36.31.csv',
 '2023-12-0508.36.53.csv',
 '2023-12-0508.37.43.csv',] +[
    
 '2023-12-0612.11.52.csv',
 '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
 '2023-12-0612.13.48.csv',
 '2023-12-1208.28.16.csv',
 '2023-12-0612.11.52.csv',
 '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
 '2023-12-0612.13.48.csv',
 '2023-12-1208.28.16.csv',
  '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
 '2023-12-0612.13.48.csv',
 '2023-12-1208.28.16.csv',
 '2023-12-0612.11.52.csv',
 '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
'2023-12-0612.11.52.csv',
 '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
 '2023-12-0612.13.48.csv',
 '2023-12-1208.28.16.csv',
  '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
 '2023-12-0612.13.48.csv',
 '2023-12-1208.28.16.csv',
'2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
 '2023-12-0612.13.48.csv',
 '2023-12-1208.28.16.csv',
  '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
 '2023-12-0612.13.48.csv',
 '2023-12-1208.28.16.csv',
  '2023-12-0612.11.52.csv',
 '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
'2023-12-0612.11.52.csv',
 '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
 '2023-12-0612.13.48.csv',
     '2023-12-0612.13.48.csv',
 '2023-12-1208.28.16.csv',
  '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
 '2023-12-0612.13.48.csv',
 '2023-12-1208.28.16.csv',
  '2023-12-0612.11.52.csv',
 '2023-12-0612.12.15.csv',
 '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
'2023-12-0612.11.52.csv',
 '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
 '2023-12-0612.13.48.csv',
     '2023-12-0612.13.48.csv',
 '2023-12-1208.28.16.csv',
  '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
 '2023-12-0612.13.48.csv',
 '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
'2023-12-0612.11.52.csv',
 '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
 '2023-12-0612.13.48.csv',
     '2023-12-0612.13.48.csv',
 '2023-12-1208.28.16.csv',
 '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
 '2023-12-0612.13.48.csv',
 '2023-12-0612.12.15.csv',
 '2023-12-0612.12.34.csv',
'2023-12-0612.11.52.csv',
 '2023-12-0612.12.15.csv',

]* 4

In [4]:
len(speedbumplist)

304

In [5]:
len(os.listdir("zigzag"))

75

In [6]:
import pandas as pd
combinedspeedbump_df = pd.DataFrame()

# Loop through each file in the list
for file in speedbumplist:
    # Assuming the files are in CSV format, you can adjust accordingly for other formats
    current_df = pd.read_csv("speedbumppassing/"+file)
    # Concatenate the current DataFrame with the combined DataFrame
    combinedspeedbump_df = pd.concat([combinedspeedbump_df, current_df], ignore_index=True)

# Display or use the combined DataFrame

In [7]:
combinedspeedbump_df

             time    ax    ay    az    wx    wy    wz  Unnamed: 7
0         0.00354 -0.09  0.35  0.30 -0.00 -0.01 -0.01         NaN
1        0.004135  0.08 -0.52  0.04 -0.00 -0.01 -0.01         NaN
2         0.00459  0.08 -0.52  0.04  0.00 -0.02 -0.01         NaN
3        0.005373  0.08 -0.52  0.04  0.00 -0.02 -0.01         NaN
4        0.006082  0.08 -0.52  0.04  0.01 -0.06 -0.02         NaN
...           ...   ...   ...   ...   ...   ...   ...         ...
2139599  7.419437  0.50 -1.33  1.69  0.01 -0.09 -0.01         NaN
2139600  7.423358  0.50 -1.33  1.69  0.02 -0.12  0.00         NaN
2139601  7.423801  0.50 -1.33  1.69  0.02 -0.12  0.00         NaN
2139602  7.424036  0.50 -1.33  1.69  0.03 -0.11  0.01         NaN
2139603  7.424213  0.42 -1.07  0.97  0.03 -0.11  0.01         NaN

[2139604 rows x 8 columns]

In [8]:
import pandas as pd
combinedzigzag_df = pd.DataFrame()

# Loop through each file in the list
for file in os.listdir("zigzag"):
    # Assuming the files are in CSV format, you can adjust accordingly for other formats
    current_df = pd.read_csv("zigzag/"+file)
    # Concatenate the current DataFrame with the combined DataFrame
    combinedzigzag_df = pd.concat([combinedzigzag_df, current_df], ignore_index=True)

# Display or use the combined DataFrame
combinedzigzag_df

                 time    ax    ay    az    wx    wy    wz  Unnamed: 7
0            0.003897  0.17  0.23 -0.21 -0.06 -0.05  0.01         NaN
1            0.004375 -0.17 -0.45 -0.38 -0.06 -0.05  0.01         NaN
2            0.004691 -0.17 -0.45 -0.38 -0.07 -0.07  0.03         NaN
3            0.005181 -0.18 -0.45 -0.38 -0.07 -0.07  0.03         NaN
4            0.005438 -0.18 -0.45 -0.38 -0.08 -0.08  0.03         NaN
...               ...   ...   ...   ...   ...   ...   ...         ...
3891266  12:54:06:640  2.65  0.09  2.06 -0.01  0.05 -0.05         NaN
3891267  12:54:06:641  2.65  0.09  2.06 -0.01  0.17 -0.05         NaN
3891268  12:54:06:641  2.66  0.09  2.07 -0.01  0.17 -0.05         NaN
3891269  12:54:06:642  2.66  0.09  2.07 -0.01  0.21 -0.05         NaN
3891270  12:54:06:644  4.26  0.46  2.31 -0.01  0.21 -0.05         NaN

[3891271 rows x 8 columns]

In [9]:
combinedzigzag_df = combinedzigzag_df.head(2139604)

In [10]:
combinedzigzag_df_test = combinedzigzag_df.head(31764)

In [11]:
combinedzigzag_df_test

           time    ax    ay    az    wx    wy    wz  Unnamed: 7
0      0.003897  0.17  0.23 -0.21 -0.06 -0.05  0.01         NaN
1      0.004375 -0.17 -0.45 -0.38 -0.06 -0.05  0.01         NaN
2      0.004691 -0.17 -0.45 -0.38 -0.07 -0.07  0.03         NaN
3      0.005181 -0.18 -0.45 -0.38 -0.07 -0.07  0.03         NaN
4      0.005438 -0.18 -0.45 -0.38 -0.08 -0.08  0.03         NaN
...         ...   ...   ...   ...   ...   ...   ...         ...
31759  5.435718 -1.97  0.51  1.25 -0.03  0.15 -0.01         NaN
31760  5.437636 -1.97  0.51  1.25 -0.04 -0.01 -0.01         NaN
31761  5.438093 -0.05 -0.87  1.89 -0.04 -0.01 -0.01         NaN
31762  5.440344 -0.05 -0.87  1.89 -0.04 -0.10 -0.01         NaN
31763  5.440744 -0.05 -0.87  1.89 -0.04 -0.10 -0.01         NaN

[31764 rows x 8 columns]

In [12]:
combinedzigzag_df_train = combinedzigzag_df.iloc[31764:]

# Reset the index if needed
combinedzigzag_df_train.reset_index(drop=True, inplace=True)

In [13]:
combinedzigzag_df_train.drop('Unnamed: 7', axis = 1, inplace = True)

C:\Users\user\AppData\Local\Temp\ipykernel_13856\1420651135.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combinedzigzag_df_train.drop('Unnamed: 7', axis = 1, inplace = True)

In [14]:
combinedzigzag_df_train["label"] = 0

C:\Users\user\AppData\Local\Temp\ipykernel_13856\1056950125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combinedzigzag_df_train["label"] = 0

In [15]:
combinedzigzag_df_test.drop('Unnamed: 7', axis = 1, inplace = True)

C:\Users\user\AppData\Local\Temp\ipykernel_13856\3663320415.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combinedzigzag_df_test.drop('Unnamed: 7', axis = 1, inplace = True)

In [16]:
combinedzigzag_df_test["label"] = 0

C:\Users\user\AppData\Local\Temp\ipykernel_13856\3959641418.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combinedzigzag_df_test["label"] = 0

In [17]:
combinedspeedbump_df_test = combinedzigzag_df.head(31764)

In [18]:
combinedspeedbump_df_train = combinedzigzag_df.iloc[31764:]

# Reset the index if needed
combinedspeedbump_df_train.reset_index(drop=True, inplace=True)

In [19]:
combinedspeedbump_df_test.drop('Unnamed: 7', axis = 1, inplace = True)
combinedspeedbump_df_train.drop('Unnamed: 7', axis = 1, inplace = True)

C:\Users\user\AppData\Local\Temp\ipykernel_13856\3149727363.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combinedspeedbump_df_test.drop('Unnamed: 7', axis = 1, inplace = True)
C:\Users\user\AppData\Local\Temp\ipykernel_13856\3149727363.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combinedspeedbump_df_train.drop('Unnamed: 7', axis = 1, inplace = True)

In [20]:
combinedspeedbump_df_test["label"] = 1
combinedspeedbump_df_train["label"] = 1

C:\Users\user\AppData\Local\Temp\ipykernel_13856\1088001320.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combinedspeedbump_df_test["label"] = 1
C:\Users\user\AppData\Local\Temp\ipykernel_13856\1088001320.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  combinedspeedbump_df_train["label"] = 1

In [21]:
train_df = pd.concat([combinedzigzag_df_train, combinedspeedbump_df_train], ignore_index=True)

In [22]:
train_df

                 time    ax    ay    az    wx    wy    wz  label
0            5.442682 -0.05 -0.87  1.89 -0.04 -0.12  0.01      0
1            5.443029 -1.54 -1.00  0.30 -0.04 -0.12  0.01      0
2            5.445271 -1.54 -1.00  0.30 -0.05 -0.09  0.03      0
3            5.445591 -1.54 -1.00  0.30 -0.05 -0.09  0.03      0
4            5.447568 -1.54 -1.00  0.30 -0.05 -0.01  0.04      0
...               ...   ...   ...   ...   ...   ...   ...    ...
4215675  08:35:15:634  0.53  1.30 -0.11  0.01 -0.10  0.06      1
4215676  08:35:15:635  0.53  1.30 -0.11 -0.01  0.02  0.07      1
4215677  08:35:15:636 -0.60 -0.24 -1.34 -0.01  0.02  0.07      1
4215678  08:35:15:638 -0.60 -0.24 -1.34 -0.02  0.10  0.05      1
4215679  08:35:15:639 -0.60 -0.24 -1.34 -0.02  0.10  0.05      1

[4215680 rows x 8 columns]

In [23]:
test_df = pd.concat([combinedzigzag_df_test, combinedspeedbump_df_test], ignore_index=True)

In [24]:
test_df.columns

Index(['time', 'ax', 'ay', 'az', 'wx', 'wy', 'wz', 'label'], dtype='object')

In [25]:
test_df.rename(columns={'ax': 'kacc_x', 'ay': 'kacc_y', 'az': 'kacc_z', 'wx': 'gyro_x', 'wy': 'gyro_y', 'wz': 'gyro_z'}, inplace=True)
test_df

           time  kacc_x  kacc_y  kacc_z  gyro_x  gyro_y  gyro_z  label
0      0.003897    0.17    0.23   -0.21   -0.06   -0.05    0.01      0
1      0.004375   -0.17   -0.45   -0.38   -0.06   -0.05    0.01      0
2      0.004691   -0.17   -0.45   -0.38   -0.07   -0.07    0.03      0
3      0.005181   -0.18   -0.45   -0.38   -0.07   -0.07    0.03      0
4      0.005438   -0.18   -0.45   -0.38   -0.08   -0.08    0.03      0
...         ...     ...     ...     ...     ...     ...     ...    ...
63523  5.435718   -1.97    0.51    1.25   -0.03    0.15   -0.01      1
63524  5.437636   -1.97    0.51    1.25   -0.04   -0.01   -0.01      1
63525  5.438093   -0.05   -0.87    1.89   -0.04   -0.01   -0.01      1
63526  5.440344   -0.05   -0.87    1.89   -0.04   -0.10   -0.01      1
63527  5.440744   -0.05   -0.87    1.89   -0.04   -0.10   -0.01      1

[63528 rows x 8 columns]

In [26]:
train_df.rename(columns={'ax': 'kacc_x', 'ay': 'kacc_y', 'az': 'kacc_z', 'wx': 'gyro_x', 'wy': 'gyro_y', 'wz': 'gyro_z'}, inplace=True)
train_df

                 time  kacc_x  kacc_y  kacc_z  gyro_x  gyro_y  gyro_z  label
0            5.442682   -0.05   -0.87    1.89   -0.04   -0.12    0.01      0
1            5.443029   -1.54   -1.00    0.30   -0.04   -0.12    0.01      0
2            5.445271   -1.54   -1.00    0.30   -0.05   -0.09    0.03      0
3            5.445591   -1.54   -1.00    0.30   -0.05   -0.09    0.03      0
4            5.447568   -1.54   -1.00    0.30   -0.05   -0.01    0.04      0
...               ...     ...     ...     ...     ...     ...     ...    ...
4215675  08:35:15:634    0.53    1.30   -0.11    0.01   -0.10    0.06      1
4215676  08:35:15:635    0.53    1.30   -0.11   -0.01    0.02    0.07      1
4215677  08:35:15:636   -0.60   -0.24   -1.34   -0.01    0.02    0.07      1
4215678  08:35:15:638   -0.60   -0.24   -1.34   -0.02    0.10    0.05      1
4215679  08:35:15:639   -0.60   -0.24   -1.34   -0.02    0.10    0.05      1

[4215680 rows x 8 columns]

In [31]:
train_df.to_csv("collected_train_increased.csv")
test_df.to_csv("collected_test_increased.csv")

In [32]:
os.listdir()

['.ipynb_checkpoints',
 'collected_test.csv',
 'collected_test_increased.csv',
 'collected_train.csv',
 'collected_train_increased.csv',
 'Obtain Data.ipynb',
 'speedbumppassing',
 'zigzag']